<section class="cardAll">
    <a>
    <header class="headerFont">{{character_name}} the {{character_class}}</header>
        <p>{{description}}</p>
        
        <p>Strength: {{strength}}</p>
        <p>Hitpoints: {{hitpoints}}hp</p>
        <p>Armor Class: {{armorClass}}</p>
        <p>Dexterity: {{dexterity}}</p>
    <img class="charView" src="/images/{{character_class}}.jpg"> 
    </a>
</section>
    
