<section class="card">
    <a>
    <header class="headerFont">{{character_class}}</header>
        <p>{{description}}</p>
    <ul>
        <p>Strength: {{strength}}</p>
        <p>Hitpoints: {{hitpoints}}hp</p>
        <p>Armor Class: {{armorClass}}</p>
        <p>Dexterity: {{dexterity}}</p>
    </ul>
    </a>
    <img class="charView" src="/images/{{character_class}}.jpg"> 
</section>
    
    
{{!-- <img class="imgCard" src="/images{{id}}"> --}}